<h3>Lista de Clientes</h3>

<header>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

</header>

<style type="text/css">
    .center {
        vertical-align: middle;
    }
</style>


<br />

<!--campo de pesquisa-->
<div id="pesquisa">
    Nome do Cliente :
    <input type="text" id="pesquisa" />
    <img src="~/images/lupa.jpg" width="45" height="45" />
</div>
<br />
<div style="overflow-y:scroll">
    <table class="table table-dark" style="margin-top:auto">
        <thread>
            <tr>
                <td></td>
                <td></td>
                <td>ID</td>
                <td>Nome</td>
                <td>CPF</td>
                <td>Email</td>
            </tr>
        </thread>
        <tbody id="tabela">

            @{
                //ao percorrer a ViewBag.ListaClientes, é necessário fazer um cast dos dados para o tipo
                //List<ClienteModel>
                foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                {
                    <tr>
                        <!--onclick chama a função js passando o paramentro item.id-->
                        <td><button type="button" class="btn btn-warning" onclick="Editar(@item.id)">Editar</button></td>
                        <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.id)">Excluir</button></td>
                        <td style="vertical-align:middle">@item.id</td>
                        <td style="vertical-align:middle">@item.nome</td>
                        <td style="vertical-align:middle">@item.cpf</td>
                        <td style="vertical-align:middle">@item.email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />
<button class="btn btn-block btn-primary" type="button" onclick="cadastrar()">Cadastrar Cliente</button>
<script>
    function cadastrar() {

        window.location.href = "../Cliente/Cadastro"
    }

    function Editar(id) {
        window.location.href = "../Cliente/Cadastro/" + id;
    }

    function Excluir(id) {
        window.location.href = "../Cliente/Excluir/" + id;
    }
</script>
